.navbar {
    background-color: #333;
    overflow: hidden;
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding-left: 92px;
    padding-right: 92px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
}

.navbar li {
    display: inline;
}

.navbar a:hover {
    background: wheat;
    color: black;
}

html {
    background-color: wheat;
}



.wrapper {
    background-color: #f2f2f2;
    width: 600px;
    margin: auto;
    padding: 32px;
    padding-bottom: auto;
}

embed {
    height: 400px;
    width: 550px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-weight: 600;
}